@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/webapp\/bower_components\/bootstrap-sass\/vendor\/assets\/stylesheets\/bootstrap\/_buttons\.scss}line{font-family:\000039}}
.btn, .gwt-Button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/webapp\/bower_components\/bootstrap-sass\/vendor\/assets\/stylesheets\/bootstrap\/_buttons\.scss}line{font-family:\0000325}}
.btn:focus, .gwt-Button:focus, .btn:active:focus, .gwt-Button:active:focus, .btn.active:focus, .active.gwt-Button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/webapp\/bower_components\/bootstrap-sass\/vendor\/assets\/stylesheets\/bootstrap\/_buttons\.scss}line{font-family:\0000331}}
.btn:hover, .gwt-Button:hover, .btn:focus, .gwt-Button:focus {
  color: #333333;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/webapp\/bower_components\/bootstrap-sass\/vendor\/assets\/stylesheets\/bootstrap\/_buttons\.scss}line{font-family:\0000337}}
.btn:active, .gwt-Button:active, .btn.active, .active.gwt-Button {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/webapp\/bower_components\/bootstrap-sass\/vendor\/assets\/stylesheets\/bootstrap\/_buttons\.scss}line{font-family:\0000345}}
.btn.disabled, .disabled.gwt-Button, .btn[disabled], [disabled].gwt-Button, fieldset[disabled] .btn, fieldset[disabled] .gwt-Button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/webapp\/bower_components\/bootstrap-sass\/vendor\/assets\/stylesheets\/bootstrap\/_forms\.scss}line{font-family:\00003115}}
.form-control, .rqbFrom {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/webapp\/bower_components\/bootstrap-sass\/vendor\/assets\/stylesheets\/bootstrap\/mixins\/_forms\.scss}line{font-family:\0000353}}
.form-control:focus, .rqbFrom:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/webapp\/bower_components\/bootstrap-sass\/vendor\/assets\/stylesheets\/bootstrap\/mixins\/_vendor-prefixes\.scss}line{font-family:\00003102}}
.form-control::-moz-placeholder, .rqbFrom::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/webapp\/bower_components\/bootstrap-sass\/vendor\/assets\/stylesheets\/bootstrap\/mixins\/_vendor-prefixes\.scss}line{font-family:\00003104}}
.form-control:-ms-input-placeholder, .rqbFrom:-ms-input-placeholder {
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/webapp\/bower_components\/bootstrap-sass\/vendor\/assets\/stylesheets\/bootstrap\/mixins\/_vendor-prefixes\.scss}line{font-family:\00003105}}
.form-control::-webkit-input-placeholder, .rqbFrom::-webkit-input-placeholder {
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/webapp\/bower_components\/bootstrap-sass\/vendor\/assets\/stylesheets\/bootstrap\/_forms\.scss}line{font-family:\00003143}}
.form-control[disabled], [disabled].rqbFrom, .form-control[readonly], [readonly].rqbFrom, fieldset[disabled] .form-control, fieldset[disabled] .rqbFrom {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/webapp\/bower_components\/bootstrap-sass\/vendor\/assets\/stylesheets\/bootstrap\/_forms\.scss}line{font-family:\00003153}}
textarea.form-control, textarea.rqbFrom {
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/scss\/redquerybuilder\.scss}line{font-family:\000033}}
.rqbFrom {
  margin-bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/scss\/redquerybuilder\.scss}line{font-family:\0000312}}
.rqbComparison {
  background-color: #FFF !important;
  border-color: #FFF !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/scss\/redquerybuilder\.scss}line{font-family:\0000317}}
#rqb {
  margin: 5px 0px 5px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/scss\/redquerybuilder\.scss}line{font-family:\0000321}}
#rqb-sql {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/scss\/redquerybuilder\.scss}line{font-family:\0000325}}
#ng-query-table-result {
  width: 100%;
  overflow-x: auto;
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/scss\/redquerybuilder\.scss}line{font-family:\0000331}}
#raw-sql-container {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  margin: 10px 0px 10px 0px;
  border-top: 2px solid #c5c5c5;
  border-bottom: 2px solid #c5c5c5;
  border-right: 2px solid #c5c5c5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/scss\/redquerybuilder\.scss}line{font-family:\0000339}}
#ng-query-table-sql-query {
  font-weight: bold;
  margin: 5px 0px 5px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/scss\/redquerybuilder\.scss}line{font-family:\0000344}}
#rqb-show-table-def {
  vertical-align: top;
  margin: 0px 0px 4px 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/scss\/redquerybuilder\.scss}line{font-family:\0000349}}
.popover-content table tbody tr td {
  padding-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/scss\/redquerybuilder\.scss}line{font-family:\0000353}}
.rqbComparison tr td select, .rqbComparison tr td input {
  margin-right: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/egonz\/dev\/git\/bz\/projects\/betzip-metrics\/src\/main\/scss\/redquerybuilder\.scss}line{font-family:\0000357}}
#ng-query-table-saved-queries {
  margin-top: 25px;
  text-align: right;
}
